{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block meta_title %}Actualités - {% if post and post.id %}Modifier{% else %}Ajouter{% endif %}{% endblock %}
{% block header_title %} <span class="text-semibold">Actualités</span> - {% if post and post.id %}Modifier{% else %}Ajouter{% endif %} une actualité{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item">Blog</li>
        <li class="breadcrumb-item"><a href="{{ url('post_index') }}">Actualités</a></li>
        {% if post.id %}
            <li class="breadcrumb-item">Modifier</li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        {% else %}
            <li class="breadcrumb-item active">Création</li>
        {% endif %}
    </ul>
{% endblock %}


{% block mainPanel %}

    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item">
                <a href="#panel-tab1" data-toggle="tab" class="nav-link active show">
                    <i class="fa fa-paper-plane position-left"></i>
                    Informations
                </a>
            </li>
            <li class="nav-item">
                <a href="#panel-tab2" data-toggle="tab" class="nav-link">
                    <i class="fab fa-google position-left"></i>
                    Référencement
                </a>
            </li>
        </ul>
    </div>

    <div class="panel-tab-content tab-content">

        <div class="tab-pane active" id="panel-tab1">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5 class="panel-title">Actualité</h5>
                </div>

                <div class="panel-body">

                    {{ form_row(form.title) }}

                    {% if form.category is defined %}
                    {{ form_row(form.category) }}
                    {% endif %}

                    {% if form.tags is defined %}
                    {{ form_row(form.tags) }}
                    {% endif %}

                    {{ form_row(form.excerpt) }}

                    {{ form_row(form.description) }}

                </div>

            </div>

        </div>

        <div class="tab-pane" id="panel-tab2">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5 class="panel-title">Référencement</h5>
                </div>

                <div class="panel-body">

                    {{ form_row(form.metaTitle) }}

                    {{ form_row(form.metaDescription) }}

                    {{ form_row(form.metaKeywords) }}

                </div>

            </div>

        </div>

    </div>


{% endblock %}

